.container {
  display: flex 
   flex-direction: column
}

.pix {
  width:100%;
  padding-top:7%;
}

.black {
  border: 6px black;
  background-color: black;
}

.orange {
  border: 5px #FF8800;
  background-color: #FF8800;
}

.yellow {
  border: 5px #ffbb33;
  background-color: #ffbb33
}
